.grid {
  width: 120px;
  height: 120px;
  outline: 0.5px solid rgb(97, 97, 97);
}
.start {
  position: fixed;
  top: 0;
  right: 0;
  background: #51b3d0;
  color: white;
  font-size: 1.75rem;
  display: none;
  padding: 0.5em 1.25em;
}
.start:hover {
  cursor: pointer;
}
*::selection {
  background: none;
}
#render {
  background-image: url("../resources/images/v02g2245.bmp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.youtube {
  position: fixed;
  top: 30px;
  left: 240px;
}
.grid:hover {
}
.grid-row {
  display: flex;
}
.doctor-image-container {
  width: 300px;

  display: inline-block;
}
.doctor-img {
  width: 100%;
}
.logo-img {
  height: 200px;
}
.board-content {
  width: 1920px;
  height: 960px;

  background: rgba(255, 255, 255, 0.151);
  position: fixed;
}
.doctor-videos {
  display: flex;
  position: relative;
  top: 15%;
}
.glide-image {
  width: 100%;
}
.delete-item {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  color: #51b3d0;
}
.delete-item:hover {
  cursor: pointer;
}
.empty {
  display: flex;
}
.nav-entry {
  display: inline-block;
  position: relative;
}
.glide {
  width: 95%;
}
.board-nav {
  display: flex;

  position: fixed;

  bottom: 0px;
  width: 1920px;
  height: 200px;

  color: white;
  font-size: 40px;
}
.ui-icon-gripsmall-diagonal-se {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  background: none;
}
.stylable:hover {
  background: rgba(32, 189, 32, 0.562) !important;
}
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  padding: 5px;
}
.directory-item {
  display: flex;
}
