html {
  font-family: assistant;
  overflow: hidden;
}
input[type="text"],
input[type="password"],
textarea,
button,
select {
  outline: none;
}
.white {
  color: white;
}
*:focus {
  outline: none;
}
body {
  overflow: hidden;
  background: rgb(255, 255, 255);
  width: 1920px;
  height: 1080px;
}
.banner {
  width: 1920px;
  height: 480px;
  position: relative;
  top: 12%;
}

#render {
  position: fixed;
}
#splash-container {
  position: fixed;
  width: 100%;
  height: 100%;
}

#splash-logo {
  display: none;
}
#verify-container {
  display: none;
  position: fixed;

  width: 100%;
  height: 100%;
}
#board-type-container {
  display: none;
  position: fixed;

  width: 100%;
  height: 100%;
}
.mes-logo {
  display: none;
}
.logo-lg {
  width: 50%;
}
.logo-sm {
  width: 30%;
}
.custom-input {
  height: 60px;
  border: 0.5px solid rgba(0, 0, 0, 0.192);
  border-radius: 10px;
  padding: 10px;
}
.btn-blue {
  background: #09527f;
  color: white;
}
.btn-blue:hover {
  color: #09527f;
  border: 1px solid #09527f;
  background: none;
}
.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #09527f;

  border-color: #09527f transparent #09527f transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
